/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    hsla(157, 96%, 78%, 0.8),
    rgba(141, 255, 227, 0.8)
  );
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 0.75em;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  background-color: greenyellow;
  box-shadow: 1px 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em 0.5em 0 0;
}

.draggable:hover {
  background-color: greenyellow;
  cursor: grab;
}
.drop-target:hover {
  background-color: greenyellow;
}
table {
  background-color: #f2f2f2;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
}

td {
  border: 1px solid black;
  padding: 0.5em;
}

th {
  border: 1px solid black;
  padding: 0.5em;
  background-color: hsla(96, 100%, 70%, 0.8);
}
